Ejercicio 2:
------------------

In [1]:
#Importando pyspark
from pyspark import SparkContext
from pyspark.sql import *
from pyspark.sql.functions import asc, desc, monotonically_increasing_id, col, ltrim, rtrim

In [2]:
#Creaci√≥n de  dataframe
df = (spark
  .read                                              
  .option("inferSchema","true")                 
  .option("header","true")                           
  .csv("demo.csv"))

In [3]:
#Imprimiendo Esquema de datos
df.printSchema()

root
 |-- airline_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- alias: string (nullable = true)
 |-- iata: string (nullable = true)
 |-- icao: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- country: string (nullable = true)
 |-- active: string (nullable = true)

In [4]:
#mostrando dataframe
df.show()

+----------+--------------------+-----+----+----+--------------+--------------+------+
|airline_id|                name|alias|iata|icao|      callsign|       country|active|
+----------+--------------------+-----+----+----+--------------+--------------+------+
|        -1|             Unknown|   \N|   -| N/A|            \N|            \N|     Y|
|         1|      Private flight|   \N|   -| N/A|          null|          null|     Y|
|         2|         135 Airways|   \N|null| GNL|       GENERAL| United States|     N|
|         3|       1Time Airline|   \N|  1T| RNX|       NEXTIME|  South Africa|     Y|
|         4|2 Sqn No 1 Elemen...|   \N|null| WYT|          null|United Kingdom|     N|
|         5|     213 Flight Unit|   \N|null| TFU|          null|        Russia|     N|
|         6|223 Flight Unit S...|   \N|null| CHD|CHKALOVSK-AVIA|        Russia|     N|
|         7|   224th Flight Unit|   \N|null| TTF|    CARGO UNIT|        Russia|     N|
|         8|         247 Jet Ltd|   \N|null| TWF|  CLOUD RUNNER|United Kingdom|     N|
|         9|         3D Aviation|   \N|null| SEC|       SECUREX| United States|     N|
|        10|         40-Mile Air|   \N|  Q5| MLA|      MILE-AIR| United States|     Y|
|        11|              4D Air|   \N|null| QRT|       QUARTET|      Thailand|     N|
|        12|611897 Alberta Li...|   \N|null| THD|         DONUT|        Canada|     N|
|        13|    Ansett Australia|   \N|  AN| AAA|        ANSETT|     Australia|     Y|
|        14|Abacus International|   \N|  1B|null|          null|     Singapore|     Y|
|        15|     Abelag Aviation|   \N|  W9| AAB|           ABG|       Belgium|     N|
|        16|      Army Air Corps|   \N|null| AAC|       ARMYAIR|United Kingdom|     N|
|        17|Aero Aviation Cen...|   \N|null| AAD|       SUNRISE|        Canada|     N|
|        18|Aero Servicios Ej...|   \N|null| SII|        ASEISA|        Mexico|     N|
|        19|         Aero Biniza|   \N|null| BZS|        BINIZA|        Mexico|     N|
+----------+--------------------+-----+----+----+--------------+--------------+------+
only showing top 20 rows

In [5]:
#limpiando name
df=df.where("name!='Unknown'")

In [6]:
#limpiando country
df=df.where("country!='null'")

In [7]:
 df = df.withColumn('country', ltrim(df.country)) # recortar el espacio en blanco izquierdo de la columna country

In [8]:
 df = df.withColumn('country', rtrim(df.country)) # recortar el espacio en blanco derecho de la columna country

In [9]:
#mostrando resultado de limpieza
df.show()

+----------+--------------------+-----+----+----+---------------+--------------+------+
|airline_id|                name|alias|iata|icao|       callsign|       country|active|
+----------+--------------------+-----+----+----+---------------+--------------+------+
|         2|         135 Airways|   \N|null| GNL|        GENERAL| United States|     N|
|         3|       1Time Airline|   \N|  1T| RNX|        NEXTIME|  South Africa|     Y|
|         4|2 Sqn No 1 Elemen...|   \N|null| WYT|           null|United Kingdom|     N|
|         5|     213 Flight Unit|   \N|null| TFU|           null|        Russia|     N|
|         6|223 Flight Unit S...|   \N|null| CHD| CHKALOVSK-AVIA|        Russia|     N|
|         7|   224th Flight Unit|   \N|null| TTF|     CARGO UNIT|        Russia|     N|
|         8|         247 Jet Ltd|   \N|null| TWF|   CLOUD RUNNER|United Kingdom|     N|
|         9|         3D Aviation|   \N|null| SEC|        SECUREX| United States|     N|
|        10|         40-Mile Air|   \N|  Q5| MLA|       MILE-AIR| United States|     Y|
|        11|              4D Air|   \N|null| QRT|        QUARTET|      Thailand|     N|
|        12|611897 Alberta Li...|   \N|null| THD|          DONUT|        Canada|     N|
|        13|    Ansett Australia|   \N|  AN| AAA|         ANSETT|     Australia|     Y|
|        14|Abacus International|   \N|  1B|null|           null|     Singapore|     Y|
|        15|     Abelag Aviation|   \N|  W9| AAB|            ABG|       Belgium|     N|
|        16|      Army Air Corps|   \N|null| AAC|        ARMYAIR|United Kingdom|     N|
|        17|Aero Aviation Cen...|   \N|null| AAD|        SUNRISE|        Canada|     N|
|        18|Aero Servicios Ej...|   \N|null| SII|         ASEISA|        Mexico|     N|
|        19|         Aero Biniza|   \N|null| BZS|         BINIZA|        Mexico|     N|
|        20|       Aero Albatros|   \N|null| ABM|ALBATROS ESPANA|         Spain|     N|
|        21|          Aigle Azur|   \N|  ZI| AAF|     AIGLE AZUR|        France|     Y|
+----------+--------------------+-----+----+----+---------------+--------------+------+
only showing top 20 rows

In [10]:
#contando registros/filas
df.count()

6146

In [11]:
#guardando cantidas para posterior uso
a =  df.count()

In [12]:
print(a)

6146

In [13]:
#creando dt nuevo
dfdict = df.select("country")

In [14]:
#eliminado duplicados
dfdict = dfdict.drop_duplicates(subset = ['country'])

In [15]:
#contando registros/filas
dfdict.count()

277

In [16]:
#mostrando resultado
dfdict.show()

+--------------------+
|             country|
+--------------------+
|        AEROVARADERO|
|                Chad|
|              Russia|
|            Paraguay|
|      UNited Kingdom|
|               Macao|
|     Somali Republic|
|               Yemen|
|             Senegal|
|              Sweden|
|            Kiribati|
|   Republic of Korea|
|Canadian Territories|
|                ACOM|
|              Guyana|
|         Philippines|
|             Eritrea|
|               Burma|
|           ARMSTRONG|
|            Djibouti|
+--------------------+
only showing top 20 rows

In [17]:
#ordenando columna country
dfdict= dfdict.orderBy(asc("country"))

In [18]:
#mostrando
dfdict.show(10)

+------------+
|     country|
+------------+
|        ACOM|
| ACTIVE AERO|
|  AEROCENTER|
|   AEROCESAR|
|  AEROPERLAS|
|    AEROPUMA|
|     AEROSOL|
|     AEROSUN|
|AEROVARADERO|
|     AEROWEE|
+------------+
only showing top 10 rows

In [19]:
dfdict2 = dfdict.select("*").withColumn("country_id", monotonically_increasing_id())

In [20]:
dfdict2.show(dfdict2.count())

+--------------------+-------------+
|             country|   country_id|
+--------------------+-------------+
|                ACOM|            0|
|         ACTIVE AERO|            1|
|          AEROCENTER|   8589934592|
|           AEROCESAR|  17179869184|
|          AEROPERLAS|  17179869185|
|            AEROPUMA|  25769803776|
|             AEROSOL|  34359738368|
|             AEROSUN|  42949672960|
|        AEROVARADERO|  42949672961|
|             AEROWEE|  51539607552|
|           AIR CLASS|  60129542144|
|       AIR FREIGHTER|  60129542145|
|           AIR PRINT|  68719476736|
|            AIR-MAUR|  77309411328|
|               AIREX|  85899345920|
|           AIRFLIGHT|  85899345921|
|              AIRMAN|  94489280512|
|              AIRNAT| 103079215104|
|              AIRPAC| 103079215105|
|  AIRPORT HELICOPTER| 111669149696|
|             AIRWAVE| 120259084288|
|               ALAMO| 128849018880|
|              ALASKA| 128849018881|
|      ALASKA PACIFIC| 137438953472|
|               ALCON| 146028888064|
|        ALDAWLYH AIR| 154618822656|
|            ALL STAR| 154618822657|
|          ALNACIONAL| 163208757248|
|             ANTARES| 171798691840|
|         APPALACHIAN| 171798691841|
|            AQUILINE| 180388626432|
|             ARIZAIR| 188978561024|
|           ARMSTRONG| 197568495616|
|          ASA PESADA| 197568495617|
|             ASTORIA| 206158430208|
|                ASUR| 214748364800|
|                ATCO| 214748364801|
|  ATLANTIC NICARAGUA| 223338299392|
|     ATLANTIS CANADA| 231928233984|
|            AUDI AIR| 240518168576|
|          AURORA AIR| 240518168577|
|                AUSA| 249108103168|
|              AVEMEX| 257698037760|
|             AVIANCA| 266287972352|
|              AVINOR| 266287972353|
|        AVIOQUINTANA| 274877906944|
|              AZIMUT| 283467841536|
|         Afghanistan| 283467841537|
|               Air S| 292057776128|
|             Albania| 300647710720|
|             Algeria| 309237645312|
|      American Samoa| 309237645313|
|              Angola| 317827579904|
| Antigua and Barbuda| 326417514496|
|           Argentina| 326417514497|
|             Armenia| 335007449088|
|               Aruba| 343597383680|
|           Australia| 352187318272|
|             Austria| 352187318273|
|          Azerbaijan| 360777252864|
|             Bahamas| 369367187456|
|             Bahrain| 377957122048|
|          Bangladesh| 377957122049|
|            Barbados| 386547056640|
|             Belarus| 395136991232|
|             Belgium| 395136991233|
|              Belize| 403726925824|
|               Benin| 412316860416|
|             Bermuda| 420906795008|
|              Bhutan| 420906795009|
|             Bolivia| 429496729600|
|Boonville Stage Line| 438086664192|
|Bosnia and Herzeg...| 438086664193|
|            Botswana| 446676598784|
|              Brazil| 455266533376|
|British Virgin Is...| 463856467968|
|              Brunei| 463856467969|
|            Bulgaria| 472446402560|
|        Burkina Faso| 481036337152|
|               Burma| 489626271744|
|             Burundi| 489626271745|
|          COMPANY AS| 498216206336|
|            Cambodia| 506806140928|
|            Cameroon| 506806140929|
|              Canada| 515396075520|
|Canadian Territories| 523986010112|
|          Cape Verde| 532575944704|
|      Cayman Islands| 532575944705|
|Central African R...| 541165879296|
|                Chad| 549755813888|
|               Chile| 549755813889|
|               China| 558345748480|
|            Colombia| 566935683072|
|             Comoros| 575525617664|
| Congo (Brazzaville)| 575525617665|
|    Congo (Kinshasa)| 584115552256|
|        Cook Islands| 592705486848|
|          Costa Rica| 601295421440|
|       Cote d'Ivoire| 601295421441|
|             Croatia| 609885356032|
|                Cuba| 618475290624|
|              Cyprus| 618475290625|
|      Czech Republic| 627065225216|
|              DRAGON| 635655159808|
|Democratic People...| 644245094400|
|Democratic Republ...| 644245094401|
|Democratic Republ...| 652835028992|
|             Denmark| 661424963584|
|            Djibouti| 661424963585|
|  Dominican Republic| 670014898176|
|             Ecuador| 678604832768|
|               Egypt| 687194767360|
|         El Salvador| 687194767361|
|   Equatorial Guinea| 695784701952|
|             Eritrea| 704374636544|
|             Estonia| 712964571136|
|            Ethiopia| 712964571137|
|       Faroe Islands| 721554505728|
|                Fiji| 730144440320|
|             Finland| 730144440321|
|              France| 738734374912|
|       French Guiana| 747324309504|
|    French Polynesia| 755914244096|
|               Gabon| 755914244097|
|              Gambia| 764504178688|
|             Georgia| 773094113280|
|             Germany| 773094113281|
|               Ghana| 781684047872|
|              Greece| 790273982464|
|          Guadeloupe| 798863917056|
|           Guatemala| 798863917057|
|              Guinea| 807453851648|
|       Guinea-Bissau| 816043786240|
|              Guyana| 824633720832|
|               Haiti| 824633720833|
|            Honduras| 833223655424|
|           Hong Kong| 841813590016|
|Hong Kong SAR of ...| 841813590017|
|             Hungary| 850403524608|
|             Iceland| 858993459200|
|               India| 867583393792|
|           Indonesia| 867583393793|
|                Iran| 876173328384|
|                Iraq| 884763262976|
|             Ireland| 884763262977|
|              Israel| 893353197568|
|               Italy| 901943132160|
|         Ivory Coast| 910533066752|
|             Jamaica| 910533066753|
|               Japan| 919123001344|
|              Jordan| 927712935936|
|          Kazakhstan| 936302870528|
|               Kenya| 936302870529|
|            Kiribati| 944892805120|
|              Kuwait| 953482739712|
|          Kyrgyzstan| 953482739713|
|                 LAP| 962072674304|
|Lao Peoples Democ...| 970662608896|
|              Latvia| 979252543488|
|             Lebanon| 979252543489|
|             Liberia| 987842478080|
|               Libya| 996432412672|
|           Lithuania| 996432412673|
|          Luxembourg|1005022347264|
|               Macao|1013612281856|
|           Macedonia|1022202216448|
|          Madagascar|1022202216449|
|              Malawi|1030792151040|
|            Malaysia|1039382085632|
|            Maldives|1047972020224|
|                Mali|1047972020225|
|               Malta|1056561954816|
|    Marshall Islands|1065151889408|
|          Mauritania|1065151889409|
|           Mauritius|1073741824000|
|              Mexico|1082331758592|
|             Moldova|1090921693184|
|              Monaco|1090921693185|
|            Mongolia|1099511627776|
|          Montenegro|1108101562368|
|          Montserrat|1108101562369|
|             Morocco|1116691496960|
|          Mozambique|1125281431552|
|             Myanmar|1133871366144|
|             Namibia|1133871366145|
|               Nauru|1142461300736|
|               Nepal|1151051235328|
|          Netherland|1159641169920|
|         Netherlands|1159641169921|
|Netherlands Antilles|1168231104512|
|         New Zealand|1176821039104|
|           Nicaragua|1176821039105|
|               Niger|1185410973696|
|             Nigeria|1194000908288|
|              Norway|1202590842880|
|               ODINN|1202590842881|
|                Oman|1211180777472|
|            Pakistan|1219770712064|
|               Palau|1219770712065|
|              Panama|1228360646656|
|    Papua New Guinea|1236950581248|
|            Paraguay|1245540515840|
|                Peru|1245540515841|
|         Philippines|1254130450432|
|              Poland|1262720385024|
|            Portugal|1271310319616|
|         Puerto Rico|1271310319617|
|               Qatar|1279900254208|
|            RENTAXEL|1288490188800|
|   Republic of Korea|1288490188801|
|Republic of the C...|1297080123392|
|             Reunion|1305670057984|
|             Romania|1314259992576|
|              Russia|1314259992577|
|            Russia]]|1322849927168|
|  Russian Federation|1331439861760|
|              Rwanda|1331439861761|
|                   S|1340029796352|
|                S.A.|1348619730944|
|              SCHEFF|1357209665536|
|           SWISSBIRD|1357209665537|
|Saint Kitts and N...|1365799600128|
|         Saint Lucia|1374389534720|
|Saint Vincent and...|1382979469312|
|               Samoa|1382979469313|
|Sao Tome and Prin...|1391569403904|
|        Saudi Arabia|1400159338496|
|             Senegal|1400159338497|
|              Serbia|1408749273088|
|          Seychelles|1417339207680|
|        Sierra Leone|1425929142272|
|           Singapore|1425929142273|
|            Slovakia|1434519076864|
|            Slovenia|1443109011456|
|     Solomon Islands|1443109011457|
|     Somali Republic|1451698946048|
|        South Africa|1460288880640|
|         South Korea|1468878815232|
|         South Sudan|1468878815233|
|               Spain|1477468749824|
|           Sri Lanka|1486058684416|
|               Sudan|1494648619008|
|            Suriname|1494648619009|
|           Swaziland|1503238553600|
|              Sweden|1511828488192|
|         Switzerland|1511828488193|
|               Syria|1520418422784|
|Syrian Arab Republic|1529008357376|
|              Taiwan|1537598291968|
|          Tajikistan|1537598291969|
|            Tanzania|1546188226560|
|            Thailand|1554778161152|
|                Togo|1554778161153|
|               Tonga|1563368095744|
| Trinidad and Tobago|1571958030336|
|             Tunisia|1580547964928|
|              Turkey|1580547964929|
|        Turkmenistan|1589137899520|
|Turks and Caicos ...|1597727834112|
|       UNIFORM OSCAR|1606317768704|
|      UNited Kingdom|1606317768705|
|              Uganda|1614907703296|
|             Ukraine|1623497637888|
|United Arab Emirates|1623497637889|
|      United Kingdom|1632087572480|
|       United States|1640677507072|
|             Uruguay|1649267441664|
|          Uzbekistan|1649267441665|
|               VELES|1657857376256|
|             Vanuatu|1666447310848|
|           Venezuela|1666447310849|
|             Vietnam|1675037245440|
|            WATCHDOG|1683627180032|
|               Yemen|1692217114624|
|              Zambia|1692217114625|
|            Zimbabwe|1700807049216|
|                  \N|1709396983808|
+--------------------+-------------+

In [21]:
dictdf=dfdict2.head(dfdict2.count())

In [22]:
dictdf

[Row(country='ACOM', country_id=0),
 Row(country='ACTIVE AERO', country_id=1),
 Row(country='AEROCENTER', country_id=2),
 Row(country='AEROCESAR', country_id=3),
 Row(country='AEROPERLAS', country_id=4),
 Row(country='AEROPUMA', country_id=5),
 Row(country='AEROSOL', country_id=6),
 Row(country='AEROSUN', country_id=7),
 Row(country='AEROVARADERO', country_id=8),
 Row(country='AEROWEE', country_id=9),
 Row(country='AIR CLASS', country_id=10),
 Row(country='AIR FREIGHTER', country_id=11),
 Row(country='AIR PRINT', country_id=12),
 Row(country='AIR-MAUR', country_id=13),
 Row(country='AIREX', country_id=14),
 Row(country='AIRFLIGHT', country_id=15),
 Row(country='AIRMAN', country_id=16),
 Row(country='AIRNAT', country_id=17),
 Row(country='AIRPAC', country_id=18),
 Row(country='AIRPORT HELICOPTER', country_id=19),
 Row(country='AIRWAVE', country_id=20),
 Row(country='ALAMO', country_id=21),
 Row(country='ALASKA', country_id=22),
 Row(country='ALASKA PACIFIC', country_id=23),
 Row(country='ALCON', country_id=24),
 Row(country='ALDAWLYH AIR', country_id=25),
 Row(country='ALL STAR', country_id=26),
 Row(country='ALNACIONAL', country_id=27),
 Row(country='ANTARES', country_id=28),
 Row(country='APPALACHIAN', country_id=29),
 Row(country='AQUILINE', country_id=30),
 Row(country='ARIZAIR', country_id=31),
 Row(country='ARMSTRONG', country_id=32),
 Row(country='ASA PESADA', country_id=33),
 Row(country='ASTORIA', country_id=34),
 Row(country='ASUR', country_id=35),
 Row(country='ATCO', country_id=36),
 Row(country='ATLANTIC NICARAGUA', country_id=37),
 Row(country='ATLANTIS CANADA', country_id=38),
 Row(country='AUDI AIR', country_id=39),
 Row(country='AURORA AIR', country_id=40),
 Row(country='AUSA', country_id=41),
 Row(country='AVEMEX', country_id=42),
 Row(country='AVIANCA', country_id=43),
 Row(country='AVINOR', country_id=44),
 Row(country='AVIOQUINTANA', country_id=45),
 Row(country='AZIMUT', country_id=46),
 Row(country='Afghanistan', country_id=47),
 Row(country='Air S', country_id=48),
 Row(country='Albania', country_id=49),
 Row(country='Algeria', country_id=50),
 Row(country='American Samoa', country_id=51),
 Row(country='Angola', country_id=52),
 Row(country='Antigua and Barbuda', country_id=53),
 Row(country='Argentina', country_id=54),
 Row(country='Armenia', country_id=55),
 Row(country='Aruba', country_id=56),
 Row(country='Australia', country_id=57),
 Row(country='Austria', country_id=58),
 Row(country='Azerbaijan', country_id=59),
 Row(country='Bahamas', country_id=60),
 Row(country='Bahrain', country_id=61),
 Row(country='Bangladesh', country_id=62),
 Row(country='Barbados', country_id=63),
 Row(country='Belarus', country_id=64),
 Row(country='Belgium', country_id=65),
 Row(country='Belize', country_id=66),
 Row(country='Benin', country_id=67),
 Row(country='Bermuda', country_id=68),
 Row(country='Bhutan', country_id=69),
 Row(country='Bolivia', country_id=70),
 Row(country='Boonville Stage Line', country_id=71),
 Row(country='Bosnia and Herzegovina', country_id=72),
 Row(country='Botswana', country_id=73),
 Row(country='Brazil', country_id=74),
 Row(country='British Virgin Islands', country_id=75),
 Row(country='Brunei', country_id=76),
 Row(country='Bulgaria', country_id=77),
 Row(country='Burkina Faso', country_id=78),
 Row(country='Burma', country_id=79),
 Row(country='Burundi', country_id=80),
 Row(country='COMPANY AS', country_id=81),
 Row(country='Cambodia', country_id=82),
 Row(country='Cameroon', country_id=83),
 Row(country='Canada', country_id=84),
 Row(country='Canadian Territories', country_id=85),
 Row(country='Cape Verde', country_id=86),
 Row(country='Cayman Islands', country_id=87),
 Row(country='Central African Republic', country_id=88),
 Row(country='Chad', country_id=89),
 Row(country='Chile', country_id=90),
 Row(country='China', country_id=91),
 Row(country='Colombia', country_id=92),
 Row(country='Comoros', country_id=93),
 Row(country='Congo (Brazzaville)', country_id=94),
 Row(country='Congo (Kinshasa)', country_id=95),
 Row(country='Cook Islands', country_id=96),
 Row(country='Costa Rica', country_id=97),
 Row(country="Cote d'Ivoire", country_id=98),
 Row(country='Croatia', country_id=99),
 Row(country='Cuba', country_id=100),
 Row(country='Cyprus', country_id=101),
 Row(country='Czech Republic', country_id=102),
 Row(country='DRAGON', country_id=103),
 Row(country="Democratic People's Republic of Korea", country_id=104),
 Row(country='Democratic Republic of Congo', country_id=105),
 Row(country='Democratic Republic of the Congo', country_id=106),
 Row(country='Denmark', country_id=107),
 Row(country='Djibouti', country_id=108),
 Row(country='Dominican Republic', country_id=109),
 Row(country='Ecuador', country_id=110),
 Row(country='Egypt', country_id=111),
 Row(country='El Salvador', country_id=112),
 Row(country='Equatorial Guinea', country_id=113),
 Row(country='Eritrea', country_id=114),
 Row(country='Estonia', country_id=115),
 Row(country='Ethiopia', country_id=116),
 Row(country='Faroe Islands', country_id=117),
 Row(country='Fiji', country_id=118),
 Row(country='Finland', country_id=119),
 Row(country='France', country_id=120),
 Row(country='French Guiana', country_id=121),
 Row(country='French Polynesia', country_id=122),
 Row(country='Gabon', country_id=123),
 Row(country='Gambia', country_id=124),
 Row(country='Georgia', country_id=125),
 Row(country='Germany', country_id=126),
 Row(country='Ghana', country_id=127),
 Row(country='Greece', country_id=128),
 Row(country='Guadeloupe', country_id=129),
 Row(country='Guatemala', country_id=130),
 Row(country='Guinea', country_id=131),
 Row(country='Guinea-Bissau', country_id=132),
 Row(country='Guyana', country_id=133),
 Row(country='Haiti', country_id=134),
 Row(country='Honduras', country_id=135),
 Row(country='Hong Kong', country_id=136),
 Row(country='Hong Kong SAR of China', country_id=137),
 Row(country='Hungary', country_id=138),
 Row(country='Iceland', country_id=139),
 Row(country='India', country_id=140),
 Row(country='Indonesia', country_id=141),
 Row(country='Iran', country_id=142),
 Row(country='Iraq', country_id=143),
 Row(country='Ireland', country_id=144),
 Row(country='Israel', country_id=145),
 Row(country='Italy', country_id=146),
 Row(country='Ivory Coast', country_id=147),
 Row(country='Jamaica', country_id=148),
 Row(country='Japan', country_id=149),
 Row(country='Jordan', country_id=150),
 Row(country='Kazakhstan', country_id=151),
 Row(country='Kenya', country_id=152),
 Row(country='Kiribati', country_id=153),
 Row(country='Kuwait', country_id=154),
 Row(country='Kyrgyzstan', country_id=155),
 Row(country='LAP', country_id=156),
 Row(country='Lao Peoples Democratic Republic', country_id=157),
 Row(country='Latvia', country_id=158),
 Row(country='Lebanon', country_id=159),
 Row(country='Liberia', country_id=160),
 Row(country='Libya', country_id=161),
 Row(country='Lithuania', country_id=162),
 Row(country='Luxembourg', country_id=163),
 Row(country='Macao', country_id=164),
 Row(country='Macedonia', country_id=165),
 Row(country='Madagascar', country_id=166),
 Row(country='Malawi', country_id=167),
 Row(country='Malaysia', country_id=168),
 Row(country='Maldives', country_id=169),
 Row(country='Mali', country_id=170),
 Row(country='Malta', country_id=171),
 Row(country='Marshall Islands', country_id=172),
 Row(country='Mauritania', country_id=173),
 Row(country='Mauritius', country_id=174),
 Row(country='Mexico', country_id=175),
 Row(country='Moldova', country_id=176),
 Row(country='Monaco', country_id=177),
 Row(country='Mongolia', country_id=178),
 Row(country='Montenegro', country_id=179),
 Row(country='Montserrat', country_id=180),
 Row(country='Morocco', country_id=181),
 Row(country='Mozambique', country_id=182),
 Row(country='Myanmar', country_id=183),
 Row(country='Namibia', country_id=184),
 Row(country='Nauru', country_id=185),
 Row(country='Nepal', country_id=186),
 Row(country='Netherland', country_id=187),
 Row(country='Netherlands', country_id=188),
 Row(country='Netherlands Antilles', country_id=189),
 Row(country='New Zealand', country_id=190),
 Row(country='Nicaragua', country_id=191),
 Row(country='Niger', country_id=192),
 Row(country='Nigeria', country_id=193),
 Row(country='Norway', country_id=194),
 Row(country='ODINN', country_id=195),
 Row(country='Oman', country_id=196),
 Row(country='Pakistan', country_id=197),
 Row(country='Palau', country_id=198),
 Row(country='Panama', country_id=199),
 Row(country='Papua New Guinea', country_id=200),
 Row(country='Paraguay', country_id=201),
 Row(country='Peru', country_id=202),
 Row(country='Philippines', country_id=203),
 Row(country='Poland', country_id=204),
 Row(country='Portugal', country_id=205),
 Row(country='Puerto Rico', country_id=206),
 Row(country='Qatar', country_id=207),
 Row(country='RENTAXEL', country_id=208),
 Row(country='Republic of Korea', country_id=209),
 Row(country='Republic of the Congo', country_id=210),
 Row(country='Reunion', country_id=211),
 Row(country='Romania', country_id=212),
 Row(country='Russia', country_id=213),
 Row(country='Russia]]', country_id=214),
 Row(country='Russian Federation', country_id=215),
 Row(country='Rwanda', country_id=216),
 Row(country='S', country_id=217),
 Row(country='S.A.', country_id=218),
 Row(country='SCHEFF', country_id=219),
 Row(country='SWISSBIRD', country_id=220),
 Row(country='Saint Kitts and Nevis', country_id=221),
 Row(country='Saint Lucia', country_id=222),
 Row(country='Saint Vincent and the Grenadines', country_id=223),
 Row(country='Samoa', country_id=224),
 Row(country='Sao Tome and Principe', country_id=225),
 Row(country='Saudi Arabia', country_id=226),
 Row(country='Senegal', country_id=227),
 Row(country='Serbia', country_id=228),
 Row(country='Seychelles', country_id=229),
 Row(country='Sierra Leone', country_id=230),
 Row(country='Singapore', country_id=231),
 Row(country='Slovakia', country_id=232),
 Row(country='Slovenia', country_id=233),
 Row(country='Solomon Islands', country_id=234),
 Row(country='Somali Republic', country_id=235),
 Row(country='South Africa', country_id=236),
 Row(country='South Korea', country_id=237),
 Row(country='South Sudan', country_id=238),
 Row(country='Spain', country_id=239),
 Row(country='Sri Lanka', country_id=240),
 Row(country='Sudan', country_id=241),
 Row(country='Suriname', country_id=242),
 Row(country='Swaziland', country_id=243),
 Row(country='Sweden', country_id=244),
 Row(country='Switzerland', country_id=245),
 Row(country='Syria', country_id=246),
 Row(country='Syrian Arab Republic', country_id=247),
 Row(country='Taiwan', country_id=248),
 Row(country='Tajikistan', country_id=249),
 Row(country='Tanzania', country_id=250),
 Row(country='Thailand', country_id=251),
 Row(country='Togo', country_id=252),
 Row(country='Tonga', country_id=253),
 Row(country='Trinidad and Tobago', country_id=254),
 Row(country='Tunisia', country_id=255),
 Row(country='Turkey', country_id=256),
 Row(country='Turkmenistan', country_id=257),
 Row(country='Turks and Caicos Islands', country_id=258),
 Row(country='UNIFORM OSCAR', country_id=259),
 Row(country='UNited Kingdom', country_id=260),
 Row(country='Uganda', country_id=261),
 Row(country='Ukraine', country_id=262),
 Row(country='United Arab Emirates', country_id=263),
 Row(country='United Kingdom', country_id=264),
 Row(country='United States', country_id=265),
 Row(country='Uruguay', country_id=266),
 Row(country='Uzbekistan', country_id=267),
 Row(country='VELES', country_id=268),
 Row(country='Vanuatu', country_id=269),
 Row(country='Venezuela', country_id=270),
 Row(country='Vietnam', country_id=271),
 Row(country='WATCHDOG', country_id=272),
 Row(country='Yemen', country_id=273),
 Row(country='Zambia', country_id=274),
 Row(country='Zimbabwe', country_id=275),
 Row(country='\\N', country_id=276)]

In [23]:
dictdf=dict(dictdf)

In [24]:
dictdf

{'ACOM': 0,
 'ACTIVE AERO': 1,
 'AEROCENTER': 2,
 'AEROCESAR': 3,
 'AEROPERLAS': 4,
 'AEROPUMA': 5,
 'AEROSOL': 6,
 'AEROSUN': 7,
 'AEROVARADERO': 8,
 'AEROWEE': 9,
 'AIR CLASS': 10,
 'AIR FREIGHTER': 11,
 'AIR PRINT': 12,
 'AIR-MAUR': 13,
 'AIREX': 14,
 'AIRFLIGHT': 15,
 'AIRMAN': 16,
 'AIRNAT': 17,
 'AIRPAC': 18,
 'AIRPORT HELICOPTER': 19,
 'AIRWAVE': 20,
 'ALAMO': 21,
 'ALASKA': 22,
 'ALASKA PACIFIC': 23,
 'ALCON': 24,
 'ALDAWLYH AIR': 25,
 'ALL STAR': 26,
 'ALNACIONAL': 27,
 'ANTARES': 28,
 'APPALACHIAN': 29,
 'AQUILINE': 30,
 'ARIZAIR': 31,
 'ARMSTRONG': 32,
 'ASA PESADA': 33,
 'ASTORIA': 34,
 'ASUR': 35,
 'ATCO': 36,
 'ATLANTIC NICARAGUA': 37,
 'ATLANTIS CANADA': 38,
 'AUDI AIR': 39,
 'AURORA AIR': 40,
 'AUSA': 41,
 'AVEMEX': 42,
 'AVIANCA': 43,
 'AVINOR': 44,
 'AVIOQUINTANA': 45,
 'AZIMUT': 46,
 'Afghanistan': 47,
 'Air S': 48,
 'Albania': 49,
 'Algeria': 50,
 'American Samoa': 51,
 'Angola': 52,
 'Antigua and Barbuda': 53,
 'Argentina': 54,
 'Armenia': 55,
 'Aruba': 56,
 'Australia': 57,
 'Austria': 58,
 'Azerbaijan': 59,
 'Bahamas': 60,
 'Bahrain': 61,
 'Bangladesh': 62,
 'Barbados': 63,
 'Belarus': 64,
 'Belgium': 65,
 'Belize': 66,
 'Benin': 67,
 'Bermuda': 68,
 'Bhutan': 69,
 'Bolivia': 70,
 'Boonville Stage Line': 71,
 'Bosnia and Herzegovina': 72,
 'Botswana': 73,
 'Brazil': 74,
 'British Virgin Islands': 75,
 'Brunei': 76,
 'Bulgaria': 77,
 'Burkina Faso': 78,
 'Burma': 79,
 'Burundi': 80,
 'COMPANY AS': 81,
 'Cambodia': 82,
 'Cameroon': 83,
 'Canada': 84,
 'Canadian Territories': 85,
 'Cape Verde': 86,
 'Cayman Islands': 87,
 'Central African Republic': 88,
 'Chad': 89,
 'Chile': 90,
 'China': 91,
 'Colombia': 92,
 'Comoros': 93,
 'Congo (Brazzaville)': 94,
 'Congo (Kinshasa)': 95,
 'Cook Islands': 96,
 'Costa Rica': 97,
 "Cote d'Ivoire": 98,
 'Croatia': 99,
 'Cuba': 100,
 'Cyprus': 101,
 'Czech Republic': 102,
 'DRAGON': 103,
 "Democratic People's Republic of Korea": 104,
 'Democratic Republic of Congo': 105,
 'Democratic Republic of the Congo': 106,
 'Denmark': 107,
 'Djibouti': 108,
 'Dominican Republic': 109,
 'Ecuador': 110,
 'Egypt': 111,
 'El Salvador': 112,
 'Equatorial Guinea': 113,
 'Eritrea': 114,
 'Estonia': 115,
 'Ethiopia': 116,
 'Faroe Islands': 117,
 'Fiji': 118,
 'Finland': 119,
 'France': 120,
 'French Guiana': 121,
 'French Polynesia': 122,
 'Gabon': 123,
 'Gambia': 124,
 'Georgia': 125,
 'Germany': 126,
 'Ghana': 127,
 'Greece': 128,
 'Guadeloupe': 129,
 'Guatemala': 130,
 'Guinea': 131,
 'Guinea-Bissau': 132,
 'Guyana': 133,
 'Haiti': 134,
 'Honduras': 135,
 'Hong Kong': 136,
 'Hong Kong SAR of China': 137,
 'Hungary': 138,
 'Iceland': 139,
 'India': 140,
 'Indonesia': 141,
 'Iran': 142,
 'Iraq': 143,
 'Ireland': 144,
 'Israel': 145,
 'Italy': 146,
 'Ivory Coast': 147,
 'Jamaica': 148,
 'Japan': 149,
 'Jordan': 150,
 'Kazakhstan': 151,
 'Kenya': 152,
 'Kiribati': 153,
 'Kuwait': 154,
 'Kyrgyzstan': 155,
 'LAP': 156,
 'Lao Peoples Democratic Republic': 157,
 'Latvia': 158,
 'Lebanon': 159,
 'Liberia': 160,
 'Libya': 161,
 'Lithuania': 162,
 'Luxembourg': 163,
 'Macao': 164,
 'Macedonia': 165,
 'Madagascar': 166,
 'Malawi': 167,
 'Malaysia': 168,
 'Maldives': 169,
 'Mali': 170,
 'Malta': 171,
 'Marshall Islands': 172,
 'Mauritania': 173,
 'Mauritius': 174,
 'Mexico': 175,
 'Moldova': 176,
 'Monaco': 177,
 'Mongolia': 178,
 'Montenegro': 179,
 'Montserrat': 180,
 'Morocco': 181,
 'Mozambique': 182,
 'Myanmar': 183,
 'Namibia': 184,
 'Nauru': 185,
 'Nepal': 186,
 'Netherland': 187,
 'Netherlands': 188,
 'Netherlands Antilles': 189,
 'New Zealand': 190,
 'Nicaragua': 191,
 'Niger': 192,
 'Nigeria': 193,
 'Norway': 194,
 'ODINN': 195,
 'Oman': 196,
 'Pakistan': 197,
 'Palau': 198,
 'Panama': 199,
 'Papua New Guinea': 200,
 'Paraguay': 201,
 'Peru': 202,
 'Philippines': 203,
 'Poland': 204,
 'Portugal': 205,
 'Puerto Rico': 206,
 'Qatar': 207,
 'RENTAXEL': 208,
 'Republic of Korea': 209,
 'Republic of the Congo': 210,
 'Reunion': 211,
 'Romania': 212,
 'Russia': 213,
 'Russia]]': 214,
 'Russian Federation': 215,
 'Rwanda': 216,
 'S': 217,
 'S.A.': 218,
 'SCHEFF': 219,
 'SWISSBIRD': 220,
 'Saint Kitts and Nevis': 221,
 'Saint Lucia': 222,
 'Saint Vincent and the Grenadines': 223,
 'Samoa': 224,
 'Sao Tome and Principe': 225,
 'Saudi Arabia': 226,
 'Senegal': 227,
 'Serbia': 228,
 'Seychelles': 229,
 'Sierra Leone': 230,
 'Singapore': 231,
 'Slovakia': 232,
 'Slovenia': 233,
 'Solomon Islands': 234,
 'Somali Republic': 235,
 'South Africa': 236,
 'South Korea': 237,
 'South Sudan': 238,
 'Spain': 239,
 'Sri Lanka': 240,
 'Sudan': 241,
 'Suriname': 242,
 'Swaziland': 243,
 'Sweden': 244,
 'Switzerland': 245,
 'Syria': 246,
 'Syrian Arab Republic': 247,
 'Taiwan': 248,
 'Tajikistan': 249,
 'Tanzania': 250,
 'Thailand': 251,
 'Togo': 252,
 'Tonga': 253,
 'Trinidad and Tobago': 254,
 'Tunisia': 255,
 'Turkey': 256,
 'Turkmenistan': 257,
 'Turks and Caicos Islands': 258,
 'UNIFORM OSCAR': 259,
 'UNited Kingdom': 260,
 'Uganda': 261,
 'Ukraine': 262,
 'United Arab Emirates': 263,
 'United Kingdom': 264,
 'United States': 265,
 'Uruguay': 266,
 'Uzbekistan': 267,
 'VELES': 268,
 'Vanuatu': 269,
 'Venezuela': 270,
 'Vietnam': 271,
 'WATCHDOG': 272,
 'Yemen': 273,
 'Zambia': 274,
 'Zimbabwe': 275,
 '\\N': 276}

Se compruba que es un diccionario

In [25]:
type(dictdf)

dict

In [26]:
import csv

In [27]:
num=0

In [28]:
while num == 0:
    w = csv.writer(open("newdictionary.csv", "w"))
    for key, val in dictdf.items():
        w.writerow([key, val])
    dfcionary = (spark
      .read                                              
      .option("inferSchema","true")                 
      .option("header","false")                           
      .csv("newdictionary.csv"))
    num=dfcionary.count()

In [29]:
dfcionary.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: integer (nullable = true)

In [30]:
dfcionary.count()

277

In [31]:
dfcionary = dfcionary.select(col("_c0").alias("country"), col("_c1").alias("country_id"))

In [32]:
dfcionary.show(dfcionary.count())

+--------------------+----------+
|             country|country_id|
+--------------------+----------+
|                ACOM|         0|
|         ACTIVE AERO|         1|
|          AEROCENTER|         2|
|           AEROCESAR|         3|
|          AEROPERLAS|         4|
|            AEROPUMA|         5|
|             AEROSOL|         6|
|             AEROSUN|         7|
|        AEROVARADERO|         8|
|             AEROWEE|         9|
|           AIR CLASS|        10|
|       AIR FREIGHTER|        11|
|           AIR PRINT|        12|
|            AIR-MAUR|        13|
|               AIREX|        14|
|           AIRFLIGHT|        15|
|              AIRMAN|        16|
|              AIRNAT|        17|
|              AIRPAC|        18|
|  AIRPORT HELICOPTER|        19|
|             AIRWAVE|        20|
|               ALAMO|        21|
|              ALASKA|        22|
|      ALASKA PACIFIC|        23|
|               ALCON|        24|
|        ALDAWLYH AIR|        25|
|            ALL STAR|        26|
|          ALNACIONAL|        27|
|             ANTARES|        28|
|         APPALACHIAN|        29|
|            AQUILINE|        30|
|             ARIZAIR|        31|
|           ARMSTRONG|        32|
|          ASA PESADA|        33|
|             ASTORIA|        34|
|                ASUR|        35|
|                ATCO|        36|
|  ATLANTIC NICARAGUA|        37|
|     ATLANTIS CANADA|        38|
|            AUDI AIR|        39|
|          AURORA AIR|        40|
|                AUSA|        41|
|              AVEMEX|        42|
|             AVIANCA|        43|
|              AVINOR|        44|
|        AVIOQUINTANA|        45|
|              AZIMUT|        46|
|         Afghanistan|        47|
|               Air S|        48|
|             Albania|        49|
|             Algeria|        50|
|      American Samoa|        51|
|              Angola|        52|
| Antigua and Barbuda|        53|
|           Argentina|        54|
|             Armenia|        55|
|               Aruba|        56|
|           Australia|        57|
|             Austria|        58|
|          Azerbaijan|        59|
|             Bahamas|        60|
|             Bahrain|        61|
|          Bangladesh|        62|
|            Barbados|        63|
|             Belarus|        64|
|             Belgium|        65|
|              Belize|        66|
|               Benin|        67|
|             Bermuda|        68|
|              Bhutan|        69|
|             Bolivia|        70|
|Boonville Stage Line|        71|
|Bosnia and Herzeg...|        72|
|            Botswana|        73|
|              Brazil|        74|
|British Virgin Is...|        75|
|              Brunei|        76|
|            Bulgaria|        77|
|        Burkina Faso|        78|
|               Burma|        79|
|             Burundi|        80|
|          COMPANY AS|        81|
|            Cambodia|        82|
|            Cameroon|        83|
|              Canada|        84|
|Canadian Territories|        85|
|          Cape Verde|        86|
|      Cayman Islands|        87|
|Central African R...|        88|
|                Chad|        89|
|               Chile|        90|
|               China|        91|
|            Colombia|        92|
|             Comoros|        93|
| Congo (Brazzaville)|        94|
|    Congo (Kinshasa)|        95|
|        Cook Islands|        96|
|          Costa Rica|        97|
|       Cote d'Ivoire|        98|
|             Croatia|        99|
|                Cuba|       100|
|              Cyprus|       101|
|      Czech Republic|       102|
|              DRAGON|       103|
|Democratic People...|       104|
|Democratic Republ...|       105|
|Democratic Republ...|       106|
|             Denmark|       107|
|            Djibouti|       108|
|  Dominican Republic|       109|
|             Ecuador|       110|
|               Egypt|       111|
|         El Salvador|       112|
|   Equatorial Guinea|       113|
|             Eritrea|       114|
|             Estonia|       115|
|            Ethiopia|       116|
|       Faroe Islands|       117|
|                Fiji|       118|
|             Finland|       119|
|              France|       120|
|       French Guiana|       121|
|    French Polynesia|       122|
|               Gabon|       123|
|              Gambia|       124|
|             Georgia|       125|
|             Germany|       126|
|               Ghana|       127|
|              Greece|       128|
|          Guadeloupe|       129|
|           Guatemala|       130|
|              Guinea|       131|
|       Guinea-Bissau|       132|
|              Guyana|       133|
|               Haiti|       134|
|            Honduras|       135|
|           Hong Kong|       136|
|Hong Kong SAR of ...|       137|
|             Hungary|       138|
|             Iceland|       139|
|               India|       140|
|           Indonesia|       141|
|                Iran|       142|
|                Iraq|       143|
|             Ireland|       144|
|              Israel|       145|
|               Italy|       146|
|         Ivory Coast|       147|
|             Jamaica|       148|
|               Japan|       149|
|              Jordan|       150|
|          Kazakhstan|       151|
|               Kenya|       152|
|            Kiribati|       153|
|              Kuwait|       154|
|          Kyrgyzstan|       155|
|                 LAP|       156|
|Lao Peoples Democ...|       157|
|              Latvia|       158|
|             Lebanon|       159|
|             Liberia|       160|
|               Libya|       161|
|           Lithuania|       162|
|          Luxembourg|       163|
|               Macao|       164|
|           Macedonia|       165|
|          Madagascar|       166|
|              Malawi|       167|
|            Malaysia|       168|
|            Maldives|       169|
|                Mali|       170|
|               Malta|       171|
|    Marshall Islands|       172|
|          Mauritania|       173|
|           Mauritius|       174|
|              Mexico|       175|
|             Moldova|       176|
|              Monaco|       177|
|            Mongolia|       178|
|          Montenegro|       179|
|          Montserrat|       180|
|             Morocco|       181|
|          Mozambique|       182|
|             Myanmar|       183|
|             Namibia|       184|
|               Nauru|       185|
|               Nepal|       186|
|          Netherland|       187|
|         Netherlands|       188|
|Netherlands Antilles|       189|
|         New Zealand|       190|
|           Nicaragua|       191|
|               Niger|       192|
|             Nigeria|       193|
|              Norway|       194|
|               ODINN|       195|
|                Oman|       196|
|            Pakistan|       197|
|               Palau|       198|
|              Panama|       199|
|    Papua New Guinea|       200|
|            Paraguay|       201|
|                Peru|       202|
|         Philippines|       203|
|              Poland|       204|
|            Portugal|       205|
|         Puerto Rico|       206|
|               Qatar|       207|
|            RENTAXEL|       208|
|   Republic of Korea|       209|
|Republic of the C...|       210|
|             Reunion|       211|
|             Romania|       212|
|              Russia|       213|
|            Russia]]|       214|
|  Russian Federation|       215|
|              Rwanda|       216|
|                   S|       217|
|                S.A.|       218|
|              SCHEFF|       219|
|           SWISSBIRD|       220|
|Saint Kitts and N...|       221|
|         Saint Lucia|       222|
|Saint Vincent and...|       223|
|               Samoa|       224|
|Sao Tome and Prin...|       225|
|        Saudi Arabia|       226|
|             Senegal|       227|
|              Serbia|       228|
|          Seychelles|       229|
|        Sierra Leone|       230|
|           Singapore|       231|
|            Slovakia|       232|
|            Slovenia|       233|
|     Solomon Islands|       234|
|     Somali Republic|       235|
|        South Africa|       236|
|         South Korea|       237|
|         South Sudan|       238|
|               Spain|       239|
|           Sri Lanka|       240|
|               Sudan|       241|
|            Suriname|       242|
|           Swaziland|       243|
|              Sweden|       244|
|         Switzerland|       245|
|               Syria|       246|
|Syrian Arab Republic|       247|
|              Taiwan|       248|
|          Tajikistan|       249|
|            Tanzania|       250|
|            Thailand|       251|
|                Togo|       252|
|               Tonga|       253|
| Trinidad and Tobago|       254|
|             Tunisia|       255|
|              Turkey|       256|
|        Turkmenistan|       257|
|Turks and Caicos ...|       258|
|       UNIFORM OSCAR|       259|
|      UNited Kingdom|       260|
|              Uganda|       261|
|             Ukraine|       262|
|United Arab Emirates|       263|
|      United Kingdom|       264|
|       United States|       265|
|             Uruguay|       266|
|          Uzbekistan|       267|
|               VELES|       268|
|             Vanuatu|       269|
|           Venezuela|       270|
|             Vietnam|       271|
|            WATCHDOG|       272|
|               Yemen|       273|
|              Zambia|       274|
|            Zimbabwe|       275|
|                  \N|       276|
+--------------------+----------+

In [33]:
df.join(dfcionary, on='country', how='inner').show()

+--------------+----------+--------------------+-----+----+----+---------------+------+----------+
|       country|airline_id|                name|alias|iata|icao|       callsign|active|country_id|
+--------------+----------+--------------------+-----+----+----+---------------+------+----------+
| United States|         2|         135 Airways|   \N|null| GNL|        GENERAL|     N|       265|
|  South Africa|         3|       1Time Airline|   \N|  1T| RNX|        NEXTIME|     Y|       236|
|United Kingdom|         4|2 Sqn No 1 Elemen...|   \N|null| WYT|           null|     N|       264|
|        Russia|         5|     213 Flight Unit|   \N|null| TFU|           null|     N|       213|
|        Russia|         6|223 Flight Unit S...|   \N|null| CHD| CHKALOVSK-AVIA|     N|       213|
|        Russia|         7|   224th Flight Unit|   \N|null| TTF|     CARGO UNIT|     N|       213|
|United Kingdom|         8|         247 Jet Ltd|   \N|null| TWF|   CLOUD RUNNER|     N|       264|
| United States|         9|         3D Aviation|   \N|null| SEC|        SECUREX|     N|       265|
| United States|        10|         40-Mile Air|   \N|  Q5| MLA|       MILE-AIR|     Y|       265|
|      Thailand|        11|              4D Air|   \N|null| QRT|        QUARTET|     N|       251|
|        Canada|        12|611897 Alberta Li...|   \N|null| THD|          DONUT|     N|        84|
|     Australia|        13|    Ansett Australia|   \N|  AN| AAA|         ANSETT|     Y|        57|
|     Singapore|        14|Abacus International|   \N|  1B|null|           null|     Y|       231|
|       Belgium|        15|     Abelag Aviation|   \N|  W9| AAB|            ABG|     N|        65|
|United Kingdom|        16|      Army Air Corps|   \N|null| AAC|        ARMYAIR|     N|       264|
|        Canada|        17|Aero Aviation Cen...|   \N|null| AAD|        SUNRISE|     N|        84|
|        Mexico|        18|Aero Servicios Ej...|   \N|null| SII|         ASEISA|     N|       175|
|        Mexico|        19|         Aero Biniza|   \N|null| BZS|         BINIZA|     N|       175|
|         Spain|        20|       Aero Albatros|   \N|null| ABM|ALBATROS ESPANA|     N|       239|
|        France|        21|          Aigle Azur|   \N|  ZI| AAF|     AIGLE AZUR|     Y|       120|
+--------------+----------+--------------------+-----+----+----+---------------+------+----------+
only showing top 20 rows

In [34]:
b = df.count()

In [35]:
print(b)

6146

¬øMismo n√∫mero de filas despues del inner join?
---------------------------------

In [46]:
if a==b:
    print("Si")

Si

In [47]:
a==b

True